/*!
 * main.scss -- Styling for story-sudanese website
 * Copyright (C) 2019  Uko Koknevics <perkontevs AT gmail DOT com>
 *
 * This work is licensed under the Creative Commons
 * Attribution-ShareAlike 4.0 International License. To view a copy of
 * this license, visit http://creativecommons.org/licenses/by-sa/4.0/.
 */

$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-800: #343a40;
$gray-850: #262734;
$gray-900: #212529;
$blue:     #007bff;
$purple:   #6f42c1;
$teal:     #20c997;
$cyan:     #17a2b8;
$black:    #000000;

$primary: $blue;
$secondary: darken($purple, 40%);

$body-bg: $gray-800;
$body-color: $gray-500;

$pre-color: $teal;

$link-color: $primary;
$link-hover-color: lighten($link-color, 15%);

$popover-bg: $body-bg;

$enable-shadows: true;

$breadcrumb-divider: quote(">");
$breadcrumb-bg: $secondary;
$breadcrumb-divider-color: $pre-color;
$breadcrumb-active-color: $pre-color;
$breadcrumb-margin-bottom: 0;

$list-group-bg: darken($cyan, 30%);
$list-group-hover-bg: darken($cyan, 20%);

@import "bootstrap/bootstrap";
