@* field.scala.html -- HTML form field constructor.
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@(elements: helper.FieldElements)

<div class="@elements.args.get('_class) @if(elements.hasErrors) {}"
     id="@elements.args.get('_id).getOrElse(elements.id + "_field")">
  <label for="@elements.id">@elements.label</label>
  <div class="input-group mb-3">
    @elements.input

    <div class="input-group-append">
      <span class="input-group-text">
        <a tabindex="-1" class="fas fa-question-circle text-primary"
           role="button" data-toggle="popover" data-trigger="focus"
           title="Requirements"
           data-content="@elements.infos.mkString("<ul><li>","</li><li>","</li></ul>")"></a>
        </span>
    </div>

    @if(elements.hasErrors) {
      <div class="input-group-append">
        <span class="input-group-text">
          <a tabindex="-1" class="fas fa-exclamation-circle text-danger"
             role="button" data-toggle="popover" data-trigger="focus"
             title="Errors"
             data-content="@elements.errors.mkString("<ul><li>", "</li><li>","</li></ul>")"></a>
        </span>
      </div>
    }
  </div>
</div>
