@* inputFile.scala.html -- form file input field.
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@** Generate a HTML file input.
  *
  * Example:
  * {{{
  * @inputFile(name = "code")
  * }}}
  *
  * @param name    The name of the form field.
  * @param handler The field constructor.
  *@

@import play.api.data.Field

@(field: Field, args: (Symbol, Any)*)(
  implicit handler: helper.FieldConstructor, msg: Messages)

@helper.input(field, args:_*) { (id, name, value, htmlArgs) =>
  <div class="custom-file">
    <input type="file" class="custom-file-input" id="@id"
           name="@name" />
  </div>
}
