@* game.scala.html -- /game
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@import play.api.i18n.Messages

@(text: String, choices: List[(String, String)])(
implicit req: RequestHeader, msg: Messages)

@main("game", "index" :: Nil) {
  <pre>@text</pre>
  @choices.map { case (link, text) =>
    <a href="@routes.GameController.choose(link)" class="btn btn-primary">@text</a>
  }
}
