@* index.scala.html -- /index
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@()(implicit msg: Messages, req: RequestHeader)

@main("index", Nil) {
  @if(!req.flash.get("failedToSendVerification").isEmpty) {
    <div class="alert alert-danger" role="alert">
      @msg("error.failedToSendVerification")
    </div>
  }

  @if(!req.flash.get("relogin").isEmpty) {
    <div class="alert alert-danger" role="alert">
      @msg("error.relogin")
    </div>
  }

  @if(!req.flash.get("notLoggedIn").isEmpty) {
    <div class="alert alert-danger" role="alert">
      @msg("error.notLoggedIn")
    </div>
  }

  @if(!req.flash.get("verificationSent").isEmpty) {
    <div class="alert alert-info" role="alert">
      @msg("info.verificationSent")
    </div>
  }

  <p class="lead">
    Welcome to Story Sudanese web version!
  </p>

  <div>
    @req.session.get("connected").map { uname =>
      <ul>
        <li><a href="@routes.HomeController.list()">
            List all available programs.
        </a></li>
        <li><a href="@routes.UploadController.get()">
            Upload a program.
        </a></li>
        <li><a href="@routes.GameController.get()">
            Play the game.
        </a></li>
      </ul>
    }.getOrElse {
      <ul>
        <li><a href="@routes.HomeController.list()">
            List all available programs.
        </a></li>
        <li>Upload a program. (Have to be logged in)</li>
        <li>Play the game. (Have to be logged in)</li>
      </ul>
    }
  </div>

  <div>
    <span>Raity is such a mothertrucker!</span>
    <br />
    <span class="ml-3">&mdash;says The Niggazz</span>
    <br />
    <span class="ml-5">&mdash;Arsenijs 2013</span>
  </div>
}
