@* aboutjs.scala.html -- JavaScript license page for LibreJS.
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@import play.api.i18n.Messages

@()(implicit req: RequestHeader, msg: Messages)

@*
 * TODO: i18n
 *@

@main("license", "index" :: Nil) {
  <h4>JavaScript Library Licenses</h4>
  <div class="container-fluid">
    <table id="jslicense-labels1" class="table table-striped table-dark
                                         table-hover">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-6" scope="col">Script used</th>
          <th class="col-3" scope="col">Script license</th>
          <th class="col-3" scope="col">Un-minified version of script</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <td class="col-6">
            <a href="@routes.Assets.versioned("js/main.js")">main.js</a>
          </td><td class="col-3">
            <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">
              AGPL-3.0-or-later
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("js/main.js")">main.js</a>
          </td>
        </tr><tr class="d-flex">
          <td class="col-6">
            <a href="@routes.Assets.versioned("lib/jquery/jquery.slim.min.js")">
              jquery-3.4.1.slim.min.js
            </a>
          </td><td class="col-3">
            <a href="https://jquery.org/license/">Expat</a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("lib/jquery/jquery.slim.js")">
              jquery-3.4.1.slim.js
            </a>
          </td>
        </tr><tr class="d-flex">
          <td class="col-6">
            <a href="@routes.Assets.versioned("lib/popper.js/umd/popper.min.js")">
              popper.min.js 1.15.0
            </a>
          </td><td class="col-3">
            <a href="https://github.com/FezVrasta/popper.js/blob/master/LICENSE.md">
              Expat
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("lib/popper.js/umd/popper.js")">
              popper.js 1.15.0
            </a>
          </td>
        </tr>
        <tr class="d-flex">
          <td class="col-6">
            <a href="@routes.Assets.versioned("js/bootstrap/bootstrap.min.js")">
              bootstrap.min.js 4.3.1
            </a>
          </td><td class="col-3">
            <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">
              Expat
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("js/bootstrap/bootstrap.js")">
              bootstrap.js 4.3.1
            </a>
          </td>
        </tr><tr class="d-flex">
          <td class="col-6">
            <a href="@routes.Assets.versioned("lib/bs-custom-file-input/dist/bs-custom-file-input.min.js")">
              bs-custom-file-input.min.js 1.3.1
            </a>
          </td><td class="col-3">
            <a href="https://github.com/Johann-S/bs-custom-file-input/blob/master/LICENSE">
              Expat
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("lib/bs-custom-file-input/dist/bs-custom-file-input.js")">
              bs-custom-file-input.js 1.3.1
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <h4>CSS Stylesheet Licenses</h4>
  <div class="container-fluid">
    <table class="table table-striped table-dark table-hover">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-6" scope="col" colspan="2">Stylesheet Used</th>
          <th class="col-3" scope="col">Stylesheet License</th>
          <th class="col-3" scope="col">Un-minified version of the Stylesheet</th>
        </tr>
      </thead>
      <tbody>
        <tr class="d-flex">
          <td class="col-6" colspan="2">
            <a href="@routes.Assets.versioned("lib/font-awesome/css/all.min.css")">
              Font Awesome Free 5.8.2 all.min.css
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("lib/font-awesome/LICENSE.txt")">
              Font Awesome Free License
            </a>
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("lib/font-awesome/css/all.css")">
              Font Awesome 5.8.2 all.css
            </a>
          </td>
        </tr><tr class="d-flex">
          <td class="col-3"></td>
          <td class="col-3">Icons</td>
          <td class="col-3">
            <a href="https://creativecommons.org/licenses/by/4.0/">
              CC BY 4.0 License
            </a>
          </td><td class="col-3"></td>
        </tr><tr class="d-flex">
          <td class="col-3"></td>
          <td class="col-3">Fonts</td>
          <td class="col-3">
            <a href="https://creativecommons.org/licenses/by/4.0/">
              SIL OFL 1.1 License
            </a>
          </td><td class="col-3"></td>
        </tr><tr class="d-flex">
          <td class="col-6" colspan="2">
            <a href="@routes.Assets.versioned("css/main.min.css")">
              Modified Bootstrap 4.3.1 main.min.css
            </a>
          </td><td class="col-3">
            &mdash;&mdash;&mdash;&mdash;
          </td><td class="col-3">
            <a href="@routes.Assets.versioned("css/main.css")">
              main.css
            </a>
          </td>
        </tr><tr class="d-flex">
          <td class="col-3">
          </td><td class="col-3">
            Original
          </td><td class="col-3">
            <a href="https://github.com/twbs/bootstrap/blob/master/LICENSE">
              MIT License
            </a>
          </td><td class="col-3">
          </td>
        </tr><tr class="d-flex">
          <td class="col-3">
          </td><td class="col-3">
            Modifications
          </td><td class="col-3">
            <a href="https://creativecommons.org/licenses/by-sa/4.0/">
              Creative Commons Attribution-ShareAlike 4.0 International License.
            </a>
          </td><td class="col-3"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <hr />
  <h4>Backend</h4>
  <p>
    All other stuff, excluding user-submitted content, is licensed
    under <a href="https://www.gnu.org/licenses/gpl.html">GPLv3+</a>
    or <a href="https://www.gnu.org/licenses/gpl.html">AGPLv3+</a>.
    See <a href="https://gitlab.com/story-algerian/story-sudanese-web">the
    source</a> for more info.
  </p>
}
