@* list.scala.html -- /list
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@import java.net.URLEncoder

@(infos: Seq[ProgramInfo])(implicit msg: Messages, req: RequestHeader)

@main("list", "index" :: Nil) {
  @if(!req.flash.get("gameNotFound").isEmpty) {
    <div class="alert alert-danger" role="alert">
      @msg("error.gameNotFound")
    </div>
  }

  @if(!req.flash.get("noGameStarted").isEmpty) {
    <div class="alert alert-info" role="alert">
      @msg("info.noGame")
    </div>
  }

  <h4>Uploaded games</h4>
  <div class="container-fluid">
    <table class="table table-striped table-dark table-hover">
      <thead class="thead-dark">
        <tr class="d-flex">
          <th class="col-2" scope="col">Program ID</th>
          <th class="col-5" scope="col">Program name</th>
          <th class="col-5" scope="col">Author</th>
        </tr>
      </thead>
      <tbody>
        @infos.map { info =>
          <tr class="d-flex">
            <td class="col-2">@info.id</td>
            <td class="col-5">
              <a href="@routes.GameController.select(URLEncoder.encode(info.prog_name, "UTF-8"))">
                @info.prog_name
              </a>
            </td><td class="col-5">@info.author.uname</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}
