@* login.scala.html -- /login
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@import form._
@import MyHelpers._

@(loginForm: Form[LoginUser])(implicit msg: Messages, req: RequestHeader)

@main("login", "index" :: Nil) {
  @helper.form(action = routes.LoginController.post()) {
    @helper.CSRF.formField
    @if(loginForm.hasGlobalErrors) {
      <ul class="errors">
        @loginForm.globalErrors.map { err =>
          <li> @err.format </li>
        }
      </ul>
    }
    @inputText(loginForm("uname"), '_label -> "label.username",
               'required -> "required")
    @inputPassword(loginForm("pword"), '_label -> "label.password",
                   'required -> "required")

    <input type="submit" class="btn btn-primary"
           value="@msg("login")" />
  }
}
