@* index.scala.html -- /index
 * Copyright (C) 2019  Uko Koknevics
 * 
 * This program is free software: you can redistribute it and/or
 * modify it under the terms of the GNU Affero General Public License
 * as published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful, but
 * WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
 * Affero General Public License for more details.
 * 
 * You should have received a copy of the GNU Affero General Public
 * License along with this program.  If not, see
 * <https://www.gnu.org/licenses/>.
 *@

@import form._
@import MyHelpers._

@(form: Form[String])(implicit msg: Messages, req: RequestHeader)

@main("upload", "index" :: Nil) {
  @helper.form(action = routes.UploadController.post(),
               'enctype -> "multipart/form-data") {
    @helper.CSRF.formField
    @if(form.hasGlobalErrors) {
      <ul class="errors">
        @form.globalErrors.map { err =>
          <li> @err.format </li>
        }
      </ul>
    }

    @inputText(form("name"), '_label -> "label.fileName",
               'required -> "required")

    <div class="custom-file">
      <input type="file" class="custom-file-input" id="code"
             name="code" />
      <label class="custom-file-label" for="code">@msg("label.chooseFile")</label>
    </div>

    <input type="submit" class="btn btn-primary" value="@msg("upload")" />
  }
}
